<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>
    <h1>Welcome To The Word Counter</h1>
    <form action="/result" method="post">
      <label for="InputWordForm">enter a word</label>
      <input type="text" name="InputWordForm">
      <br><br><label for="InputSentenceForm">enter a sentence</label>
      <input type="text" name="InputSentenceForm">
      <br><br><button type="submit" name="button">Lets Check</button>
  </body>
</html>
