<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>
    <h1>your word was: @Model.GetInputWord()</h1>
    <h1>and we are comparing to the sentence: @Model.GetInputSentence()</h1>
    <h2>Your word apears in your sentence @Model.GetUserScore() time(s)</h2>
    <br><a href="/">lets try again</a>
  </body>
</html>
